
/* Identificador CSS */
/* Solo se debe aplicar a un elemento */
#titulo_principal{
    color: #f72585;
    text-align: center;
    margin: 15px;
}

h2{
    color: #3f37c9;
}

p{
    color: #457b9d;
}

/* Clase CSS */
.tarjeta{
    border: 10px solid #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;
}

.titulo{
    color: rgb(218, 98, 138);
}